$main-fg: #ffffff;
$main-bg: #1E1E1E;

$gray-fg: #808080;

$home: #ffbe0b;
$about: #9b5de5;
$posts: #50fa7b;
$projects: #39A0ED;
$tetris: #e63946;

$gradient: linear-gradient(45deg, rgba(230,57,70,1) 0%, rgba(255,190,11,1) 25%, rgba(57,160,237,1) 50%, rgba(155,93,229,1) 75%, rgba(80,250,123,1) 100%);

$tetris-orange: #fb5607;
$tetris-blue: #70d6ff;