$main-fg: #ffffff;
$main-bg: #1E1E1E;

$gray-fg: #808080;

$home: #ffbe0b;
$about: #9b5de5;
$posts: #50fa7b;
$projects: #39A0ED;
$tetris: #e63946;

$gradient: linear-gradient(45deg, #e63946 0%, #ffbe0b 25%, #39a0ed 50%, #9b5de5 75%, #50fa7b 100%);
$bg-gradient: radial-gradient(circle, #080808 45%, #070e33 100%);

$tetris-orange: #fb5607;
$tetris-blue: #70d6ff;