@use './colors' as *;

.dark{
    .background{
        background-color: $dark;
    }
    .text{
        color: $light;
    }
}

.light{
    .background{
        background-color: $light;
    }
    .text{
        color: $dark;
    }
}

