@use '../colors';

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: 500;
    font-size: 1.3rem;
    transition: transform 0.2s ease-in-out;
    color: colors.$main-fg;

    &:hover {
        transform: scale(1.1);
        background: colors.$gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.menu {
    display: flex;
    column-gap: 1.5rem;
}

.pages {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    width: 100%;

    &::before {
        content: "";
        height: 1.1rem;
        background-color: colors.$main-fg;
        position: absolute;
        bottom: 0;
        left: -0.3rem;
        transform: skewX(-10deg);
        z-index: -1;
    }

    &:hover {
        animation: hover_color .5s forwards;

        &::before {
            animation: hover_link .5s forwards;
        }
    }
}

.pages[href='/me']::before{
    background-color: colors.$about;
}
.pages[href='/posts']::before{
    background-color: colors.$posts;
}
.pages[href='/projects']::before{
    background-color: colors.$projects;
}
.pages[href='/tetris']::before{
    background-color: colors.$tetris;
}

.theme{
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover{
        transform: scale(1.1);
    }
}

.theme_moon:hover{
    stroke: url(#svg_gradient);
}

.theme_sun:hover{
    fill: url(#svg_gradient);
}

@keyframes hover_link {
    0% {
        width: 0;
    }

    10% {
        width: .2rem;
    }

    100% {
        width: 125%;
    }
}

@keyframes hover_color {
    0% {
        color: colors.$main-fg;
    }

    10% {
        color: colors.$main-bg;
    }

    100% {
        color: colors.$main-bg;
    }
}