.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: 500;
    font-size: 1.2rem;
    transition: transform 0.1s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.menu {
    display: flex;
    column-gap: 1.5rem;

    & a{
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
    
        &::before {
            content: "";
            height: 1.1rem;
            background-color: aliceblue;
            position: absolute;
            bottom: 0;
            left: -0.3rem;
            transform: skewX(-10deg);
            z-index: -1;
        }
    
        &:hover {
            animation: hover_color .5s forwards;
    
            &::before {
                animation: hover_link .5s forwards;
            }
        }
    }
}

@keyframes hover_link {
    0% {
        width: 0;
    }

    10% {
        width: .2rem;
    }

    100% {
        width: 125%;
    }
}

@keyframes hover_color {
    0% {
        color: #ffffff;
    }

    10% {
        color: #1E1E1E;
    }

    100% {
        color: #1E1E1E;
    }
}