@use "../colors";

.container{
    display: flex;
    flex-direction: row;
    column-gap: 1.3rem;

    padding-top: 0.8rem;

    & a{
        transition: all 0.2s ease-in-out;
    }

    & a:hover{
        transform: scale(1.3);
    }

    & a[href*="github"]:hover{
        color: colors.$about;
    }

    & a[href*="dev.to"]:hover{
        color: colors.$home;
    }

    & a[href*="medium"]:hover{
        color: colors.$posts;
    }

    & a[href*="linkedin"]:hover{
        color: colors.$projects;
    }

    & a[href*="mailto"]:hover{
        color: colors.$resume;
    }
}