.container{
    display: flex;
    flex-direction: row;
    column-gap: 1.3rem;

    padding-top: 0.8rem;

    & a{
        transition: all 0.2s ease-in-out;
    }

    & a:hover{
        transform: scale(1.3);
    }

    & a[href*="github"]:hover{
        color: #6e5494;
    }

    & a[href*="dev.to"]:hover{
        color: #e9c155;
    }

    & a[href*="medium"]:hover{
        color: #00ab6c;
    }

    & a[href*="linkedin"]:hover{
        color: #0a66c2;
    }

    & a[href*="mailto"]:hover{
        color: #ea4335;
    }
}