@use "../colors";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    row-gap: 3rem;

    & h1 {
        font-size: 1rem;
        font-weight: normal;
    }

    & section {
        display: flex;
        flex-direction: row;
    }

    & section p {
        background: colors.$gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 6rem;
        font-weight: 600;
    }
}

.cursor {
    background: colors.$gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    font-weight: 500;
}

.typewriter {
    background: colors.$gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-weight: 600;
}