@use '../colors';

main {
    padding-top: 2rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

    width: 100%;

}

.game {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 1rem;
}

.score{

}

.user_info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.board {
    padding: 0.3rem;
    border: 1px solid colors.$gray-fg;
    border-radius: 0.2rem;
    
    user-select: none;
    width: fit-content;
    margin: auto;
}

.upcoming {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 10px;

    & cell{
        border: none;
    }
}

.row {
    display: flex;
}

.cell {
    width: 1.3rem;
    aspect-ratio: 1;
    border: 1px solid colors.$gray-fg;
    border-radius: 0.2rem;
}

.cell.hidden {
    visibility: hidden;
  }

.cell.Empty {
    background-color: transparent;
}

.cell.I {
    background-color: colors.$projects;
}

.cell.J {
    background-color: colors.$tetris-blue;
}

.cell.L {
    background-color: colors.$tetris-orange;
}

.cell.O {
    background-color: colors.$home;
}

.cell.S {
    background-color: colors.$tetris;
}

.cell.T {
    background-color: colors.$about;
}

.cell.Z {
    background-color: colors.$posts;
}