@use './colors' as *;

*{
  margin: 0;
  padding: 0;
  outline: 0;
 box-sizing: border-box; 
}

body{
  font-family: sans-serif;
  padding: 3.2rem;

  background-color: $dark;
  color: $light;
  
  a{
    text-decoration: none;
    color: $light;
  }
}

.dark{
  .background{
      background-color: $dark;
  }
  .text{
      color: $light;
  }
}

.light{
  .background{
      background-color: $light;
  }
  .text{
      color: $dark;
  }
}