@use '../colors';

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}


.post_container{
    @extend .container;
    cursor: pointer;

    border: .3rem solid colors.$main-fg;
    border-radius: 0.5rem;

    padding: 1rem;
}

.tag_list{
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
}

.tag{
    font-size: 0.8rem;
    padding: 0.3rem;
    background-color: colors.$main-bg;
    border-radius: 0.3rem;
    color: colors.$main-fg;
}

.post_container:hover > .post_container h1{
    color: colors.$posts;
}

.project_container{}